@use 'tailwindcss' as *;

.tarjeta-pelicula {
    @apply relative rounded-xl overflow-hidden shadow-lg transition-transform duration-300 hover:-translate-y-2 m-2;
    background-color: var(--color-superficie);
    border: 1px solid var(--color-borde);
    height: 420px; 
  
    .imagen-pelicula {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  
    .info-pelicula {
      padding: 1rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      transition: all 0.3s ease-in-out;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
      color: white;
      overflow: hidden; /* ESTO LO OCULTAAA */
  
      .categoria-pelicula {
        background-color: var(--color-primario);
        padding: 0.25rem 0.75rem;
        border-radius: 9999px;
        font-size: 0.75rem;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 0.5rem;
      }
  
      .titulo-pelicula {
        font-size: 1.25rem;
        font-weight: bold;
        color: white;
        margin-top: 0.5rem;
        position: static;
        background: none;
        padding: 0;
      }
  
      .descripcion-pelicula {
        font-size: 0.95rem; 
        color: white; 
        margin-bottom: 4rem;
        line-height: 1.4;
        opacity: 0; /* LO OCULTAA */
        height: 0;
        transition: opacity 0.3s ease-in-out;
      }
  
      button {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0; 
        transition: opacity 0.3s ease-in-out;
        width: auto;
      }
    }
  
    /* HOVER MOSTRAR DESCRIPCION Y BOTON */
    &:hover .info-pelicula {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  
      .descripcion-pelicula {
        opacity: 1; 
        height: auto;
      }
  
      button {
        opacity: 1; 
      }
    }
      
  }
  
  